<div class="top">
	<div class="container_12">
		<%= link_to 'Bank Vendors', root_path, :class => 'site' %>
	</div>
</div>

<div class="question_area">
	<div class="container_12">
	<br><br>
	<div class="grid_6">
		<h2>Looking For A New Bank Vendor?</h2><br>
		<div class="text_sm">With over <strong>750</strong> listed vendors, FS Vendors is a great starting point to help in your search.</div><br><br>
		<div><%= link_to 'Browse Bank Vendors', "http://fsvendors.com/tags/core%20processing", :class => 'link' %></div>
	</div>

	<div class="grid_6" align="center">
		<%= image_tag("looking.jpg")%>
	</div>
    </div><br>
</div>
<br><br>
<div class="main">
  <div class="container_12">
	<table>
		<tr>
			<td valign="center" align = "center" width="25%"><%= link_to image_tag("ACTON.jpg", :alt => 'ACTON Marketing'), "http://fsvendors.com/companies/acton-marketing" %></td>
			<td valign="center" align = "center" width="25%"><%= link_to image_tag("geezeo4.jpeg", :alt => 'Geezeo'), "http://fsvendors.com/companies/geezeo" %></td>
			<td valign="center" align = "center" width="25%"><%= link_to image_tag("ORCC.jpg", :alt => 'Online Resources'), "http://fsvendors.com/companies/online-resources" %></td>
			<td valign="center" align = "center" width="25%"><%= link_to image_tag("fsi.png", :alt => 'Financial Services, Inc'), "http://fsvendors.com/companies/fsi" %></td>
		</tr>
	</table>
  </div>
  <br>
  <div class="container_12">
	<h3>Save Time</h3>
	<p class="text"><strong>Tired of spending time on search engines and reading trade magazines?</strong>  FS Vendors is a resource that you can use to cut down your search time.  You can search by vendor name, product name, categories and tags.</p>
	<div class="heading"></div>
	
	<h3>Narrow Your Choices</h3>
	<p class="text"><strong>Vendors are strong in some areas and weak in others.</strong>  Read reviews from your peers to help narrow your selection to the partner that best fits your financial institution.</p>
	<div class="heading"></div>
	
	<h3>Contribute</h3>
	<p class="text"><strong>Add vendor product reviews to share your own experiences with others.</strong>  You can also add new vendors, products, and financial institutions.</p>
	
  </div>

  <div class="container_12 bottom">
		<div class="grid_6">
		  <div class="text_sm">Sign up for free and find your bank vendor today. </div>
	    </div>
	    <div class="grid_6">
		  <%= link_to 'Sign Up Now!', 'http://fsvendors.com/users/sign_up', :class => 'link' %>
		</div>
  </div>

</div>
<br>
<div class="container_12" align="center">&copy; <%= Time.now.strftime("%Y") %> iMazuma, LLC | <%= link_to "Privacy Policy", "http://www.imazuma.com/privacy-policy/" %></div>
<br><br>